@media (min-width: 1280px) and (max-width: 1365px) {
	.homepage-slider-wrap {
		.slick-arrow {
			&.slick-prev {
				left: 35px;
			}

			&.slick-next {
				right: 35px;
			}
		}
	}

	.video-bg {
		.inline-YTPlayer {
			height: 100%;
			width: 100%;
			max-width: none !important;
		}

		#bgndVideo {
			width: 100%;
			height: 100% !important;
		}

		#wrapper_bgndVideo {
			width: 100%;
			height: 100%;
		}

		#iframe_bgndVideo {
			transform: scale(1.1);
		}
	}
}