/**
 * @section Base Styles
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.page-wrap {
	overflow-x: hidden;
}

$transition: all 200ms ease-out;